/* here is the universal selector by * */
* {
    color:darkslategrey
}
/* Here is a id selector which can not be overwritten: */
 #important-text {
    color:tomato
}
/* type selector to choose a specific element:*/

p {
    color:darkslategrey
}
/* here is a class selector */
.admission {
    color:blue
}
/* here is a grouped selector: */
.waterloo,
.computer-science {
    color: white
    background-color:black
}
